# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

Bolsa_ibex_35.csv
src/images/**
src/output/**
*.iml
.idea/*.iml
.idea/inspectionProfiles
.idea/*.xml
.idea/.name
.~lock*
.Rhistory*
